/* 2021 Edition of koutsies eyesore. */
/* All styles combined into one file */


@import url('https://dream-frame.github.io/Dream-Frame/src/css/theme.css')

:root {
    /** Background */
    /* Background */
    --bg-url: url(https://cdn.wallpaperhub.app/cloudcache/6/2/5/7/0/9/62570955bdb94feb3e6f743d526896aba879afbe.jpg); /* Choose a image URL for your Background */
    /* Adjustments */
    --bg-blur: 20px; /* Choose how blurry your Background will be */
    --bg-brightness: 0.3; /* Choose how dark your Background will */
    --bg-scale: cover; /* Adjust size of your Background */
    --bg-repeat: no-repeat; /* Choose if you want your background to have a pattern */
    --bg-rotation: 0deg;
    /* App */
    --bg-app-bg: rgba(0, 0, 0, 0.25);
    --bg-app-rd: 10px;
    --app-pd: 20px;
    /* Containers */
    --bg-cb-server-list: rgba(41, 43, 47, 0);
    --bg-cb-channels-list: rgba(41, 43, 47, 0);
    --bg-cb-friends-list: rgba(41, 43, 47, 0);
    --bg-cb-members-list: rgba(41, 43, 47, 0);
    --bg-cb-chat: rgba(41, 43, 47, 0);
    --bg-cb-chat-header: rgba(41, 43, 47, 0);
    --bg-cb-settings-left-sidebar: rgba(41, 43, 47, 0);
    --bg-cb-settings-page: rgba(41, 43, 47, 0);

    /** Profiles **/
    /* Covers(usrbg) */
    --pf-cover: inherit; /* Hide or show covers */
    /* Notes */
    --pf-notes: inherit; /* Hide or show notes */
    
    /** Colors **/
    /* Accent */
    --cl-accent-primary: rgb(114, 137, 214); /* Set accent color */
    --cl-accent-secondary: rgb(255, 255, 255); /* Set accent color(seconds will be used if gradient is in use) */
    --cl-accent-link: rgb(27, 174, 240); /* Set link color */
    /* Status */
    --cl-status-online: rgb(70, 181, 132);
    --cl-status-idle: rgb(249, 166, 54);
    --cl-status-dnd: rgb(255, 0, 4);
    --cl-status-offline: rgb(116, 127, 140);
    --cl-status-streaming: rgb(88, 55, 146);
    /* Scrollbar */
    --cl-scrollbar: rgb(255, 255, 255);
    /** Roundness **/
    --rd-server-banner: 4px;
    --rd-avatar: 50px;
    --rd-btns: 7px;
    --rd-app: 0px;
    --rd-boxes: 7px;
    --rd-channels: 7px;
    --rd-img: 7px;
    --rd-notice: 7px;
    --rd-context-menu: 4px;

    /** Chat **/
    /* Text Box */
    --chat-sticker: none;
    --chat-gif: none;
    --chat-gift: none;
    --chat-emoji: inherit;
    /* Embeds */
    --chat-emb-bg: rgba(24, 25, 28, 0.75);
    --chat-emb-blur: 10px;
    /* Codeblocks */
    --chat-code-bg: rgba(24, 25, 28, 0.75);
    --chat-code-blur: 10px;
    /* Emoji Menu */
    --chat-em-bg: rgba(24, 25, 28, 0.75);
    --chat-em-blur: 10px;

    /** Channels **/
    --ch-selected: linear-gradient(45deg, rgba(114, 137, 214, 1), rgba(114, 137, 214, 0.05));
    --ch-unread: rgba(64, 73, 100, 0.75);
    
    /** Pop Ups **/
    /* Notifications */
    --app-notice-area: 50px;
    --app-notice-blur: 20px;
    --app-cm-blur: 10px;
    --app-cm-background: rgba(24, 25, 28, 0.75);
}

/** Spotify popout header **/
.headerSpotify-zpWxgT{
    background-color: rgba(11, 73, 24, 0.2);

}
/** Folder bar **/
.scroller-1Bvpku {
    background-color: rgba(0, 0, 0, 0.5);
}
@import url("https://discordstyles.github.io/Addons/windows-titlebar.css");
