[Main]
Timeout=5000
Timeout_Seconds=1
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=false
Use_Label=true
Color=rgb(0,0,192)
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=true
Color=rgb(238,238,236)
Text=ram:

[SL_Swap]
Enabled=false
Use_Label=true
Color=rgb(240,240,0)
Text=swap

[SL_Uptime]
Enabled=false

