[General]
Show_Title=false
Show_Labels=false
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
str_fontsize=small
val_fontsize=1
Font=Sans Bold Italic 11
Lines_Size=1
Cover_All_Panel_Rows=false
Update_Interval=10
Exec_Command=true
Show_Units=true
Small_Spacings=true
Command_Name=xfce4-sensors
Number_Chips=3
Suppress_Hddtemp_Message=true
Suppress_Tooltip=true
Preferred_Width=430
Preferred_Height=544
Tachos_ColorValue=0,35
Tachos_Alpha=0,52

[Chip0]
Name=coretemp-0
Number=0

[Chip0_Feature0]
Address=0
Name=Package id 0
Color=#FFFFFF
Show=true
Min=0,00
Max=43,00

[Chip1]
Name=acpitz-0
Number=1

[Chip2]
Name=ACPI
Number=2

