[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/koutsie/Desktop/Counter-Strike Global Offensive.desktop]
row=1
col=1

[9f9e9017-8fa8-4a4c-a88b-ac486e4b0b47]
row=0
col=0

[dce161ee-dd19-4d9d-83b2-f2073c0e49c4]
row=1
col=0

[Trash]
row=0
col=1

[/]
row=2
col=0

[/home/koutsie]
row=3
col=0

